<mat-toolbar color="primary">
    <span>
        <a routerLink="/">MyProducts</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/create" routerLinkActive="mat-accent" *ngIf="isLogin">New Product</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!isLogin">Login</a>
        </li>
        <li>
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent" *ngIf="!isLogin">Sign Up</a>
        </li>
        <li>
            <button mat-button *ngIf="isLogin" (click)="logOut()">Log out</button>
        </li>
    </ul>
</mat-toolbar>