<mat-accordion multi="true" *ngIf="products.length>0">
    <mat-expansion-panel *ngFor="let product of products">
        <mat-expansion-panel-header>
            {{product.title}}
        </mat-expansion-panel-header>
        <p>{{product.content}}</p>
        <mat-action-row *ngIf="isLogin">
            <a mat-button [routerLink]="['/edit',product.id]" color="primary">Edit</a>
            <button mat-button color="warn" (click)="onDelete(product.id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p *ngIf="products.length<=0">No Products added yet!</p>